{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
    {% compress css %}
    <link type="text/x-scss" href="{% static 'main/css/style.scss' %}"     rel="stylesheet" media="screen">
    {% endcompress %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/htmx.org@1.5.0"
     integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
     crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
   <style>

   </style>
<body>

</body>

<body hx-target="this" hx-swap="outerHTML">
  <div class="section1">
    {% include 'main/components/sidebar.html' %}
    {% include 'main/components/placeholderLoader.html' %}
    <section class="home-section" id="home-section">
      <div class="home-content">
      </div>
      <div class="section2">
        <div class="back">
            <a onclick="openLoaderPage()" hx-get="{% url 'documents' %}"><img src="{% static 'main/images/back.png' %}" alt=""></a>
        </div>  
        <div class="heading">
            <div class="right">
                <h2 class="title">{{document.title}}</h2>
            </div>
            <div class="left">

                </div>
            </div>
        </div>
        
        <div class="document">
            {{document.content.html|safe}}
        </div>
    </div>
  


  


  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
     let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
     arrowParent.classList.toggle("showMenu");
      });
    }
    </script>
  
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>






  </body>
</html>
{% endblock content %} 