{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
    {% compress css %}
    <link type="text/x-scss" href="{% static 'main/css/style.scss' %}"     rel="stylesheet" media="screen">
    {% endcompress %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/htmx.org@1.5.0"
     integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
     crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
   <style>

   </style>
<body>

</body>

<body hx-target="this" hx-swap="outerHTML">
  <div class="section1">
    {% include 'main/components/sidebar.html' %}
    {% include 'main/components/placeholderLoader.html' %}
    <section class="home-section" id="home-section">
      <div class="home-content">
      </div>
      <div class="section2">
        <div class="heading">
            <div class="right">
                <h2 class="title">آخر المعلومات</h2>
            </div>
            <div class="left">
                <a href="#addInfo" class="add">إضافة +</a>
                <div class="search-bar">
                  <form onsubmit="openLoaderPage()" hx-get="{% url 'search' %}" class="form">
                    <input type="hidden" name="form_type" value="infosearchform">
                    <input type="text" name="query" placeholder="استكشف..." />
                  </form>
                </div>
            </div>
            {% include 'main/components/addInfo.html'%}

        </div>
        
        <div class="feed">
            <table class="feedtable">
            <tr>
                <th><i class='bx bxs-copy' ></i><span class="link_name"></span></th>
                <th><a onclick="openLoaderPage()" class="iLink" hx-get="{% url 'parties' %}"><i class='bx bxs-message-square' ></i><span class="link_name"></span></a></th>
                <th><i class='bx bxs-collection' ></i><span class="link_name"></span></th>
                <th><i class='bx bxs-calendar-alt' ></i><span class="link_name"></span></th>
            </tr>
            {% for info in information %}
            <tr>
                <td class="title"><a class="td_link" href="#showInfo{{info.id}}">{{info.title}}</a></td>
                <td class="party">
                    {% if info.party.all.count == 1 %}
                    {% for obj in info.party.all|slice:":1" %}
                    <a onclick="openLoaderPage()" hx-get="{% url 'party' obj.id %}" class="td_link">{{obj.title}}</a>
                    {% endfor %}
                    {% elif info.party.all.count == 0 %}
                    <a href="" class="td_link">لا جهات متعلقة</a>
                    {% else %}
                    <a class="td_link" href="#showParty{{info.id}}">عرض الجهات</a>
                    {% endif %}
                    <div id="showParty{{info.id}}" class="overlay">
                        <div class="popup" id="popup">
                          <h2>الجهات المتعلقة بـ {{info.title}}...</h2>
                          <a class="close" href="#">&times;</a>
                          <div class="content">
                            {% for obj in info.party.all %}
                            <div class="popupItem"><a onclick="openLoaderPage()" hx-get="{% url 'party' obj.id %}" class="td_link">- {{obj.title}}</a></div>
                            {% endfor %}                 
                          </div>
                        </div>
                    </div>
                </td>
                <td class="tags">
                    {% if info.tags.all.count == 1 %}
                    {% for obj in info.tags.all|slice:":1" %}
                    <a onclick="openLoaderPage()" hx-get="{% url 'tag' obj.id %}" class="td_link">{{obj.title}}</a>
                    {% endfor %}
                    {% elif info.tags.all.count == 0 %}
                    <a href="" class="td_link">لا مواضيع مرتبطة</a>                    
                    {% else %}
                    <a class="td_link" href="#showTag{{info.id}}">عرض المواضيع</a>
                    {% endif %}
                    <div id="showTag{{info.id}}" class="overlay">
                        <div class="popup" id="popup">
                          <h2>المواضيع المرتبطة بـ {{info.title}}...</h2>
                          <a class="close" href="#">&times;</a>
                          <div class="content">
                            {% for obj in info.tags.all %}
                            <div class="popupItem"><a onclick="openLoaderPage()" hx-get="{% url 'tag' obj.id %}" class="td_link">- {{obj.title}}</a></div>
                            {% endfor %}                 
                          </div>
                        </div>
                    </div>
                </td>
                <td class="created_at">{{info.created_at|date:"M Y, d" }}</td>
            </tr>
            {% include 'main/components/info.html' %}
            {% include 'main/components/editInfo.html' %}
            {% endfor %}
            </table>
        </div>
    </div>
  


  


  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
     let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
     arrowParent.classList.toggle("showMenu");
      });
    }
    </script>
  
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>






  </body>
</html>
{% endblock content %} 